* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(250, 249, 247);
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

a{
    text-decoration: none;
    width: 30px;
    height: 10px;
    background-color: brown;
}